.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--width-site);
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--size-card);
  height: var(--size-card);
  margin: var(--space-sm);
  padding: 1rem;
  /* add skeleton UI/background for users with slow internet */
  border: 1px solid transparent;
  border-radius: 1rem;
}

.name {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-black);
}