.outer {
  padding: var(--space-md) var(--space-md) 0;

  /* make sure the footer is always at the bottom of the page even when the page content isn't 100vh high */
  margin-top: auto;
}

.inner {
  display: flex;
  justify-content: space-between;
  max-width: var(--width-site);
  margin: auto;
  padding: var(--space-md) 0 var(--space-lg);
  border-top: 1px solid var(--color-black)
}

.navigation {
  display: block;
}

.list {
  display: flex;
  align-items: center;
  height: 100%;
}

.listItem {
  margin: 0 var(--space-sm-md);
}

.listItem:first-child {
  margin-left: 0;
}

.listItem:last-child {
  margin-right: 0;
}

.link,
.link:visited {
  font-size: var(--fsize-sm);
  color: var(--color-black);
}

.link:hover,
.link:focus {
  color: var(--color-black-light);
}

.icon {
  /* gets rid of extra whitespace below the svg */
  display: block; 

  color: var(--color-black);
  transition: color var(--trans-basic);
}

.icon:hover,
.icon:focus {
  color: var(--color-black-light);
}

.copyright {
  align-self: center;
  font-size: var(--fsize-sm);
  color: var(--color-black);
  text-align: center;
}


@media only screen and (max-width: 480px) {
  .outer {
    padding: var(--space-lg) var(--space-md) 0;
  }

  .inner,
  .list {
    flex-direction: column;
    align-items: center;
  }

  .inner > *:not(:last-child),
  .listItem:not(:last-child) {
    margin-bottom: var(--space-sm);
  }

  .listItem {
    margin-left: 0;
    margin-right: 0;
  }
}