.outer {
  padding: var(--space-md) var(--space-md) 0;

  /* make sure the footer is always at the bottom of the page even when the page content isn't 100vh high */
  margin-top: auto;
}

.inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  max-width: var(--width-site);
  margin: auto;
  padding: var(--space-md) 0 var(--space-lg);
  border-top: 1px solid var(--color-black);
}

.navigation {
  display: block;
}

.list {
  display: flex;
}

.listItem {
  margin: 0 var(--space-sm-md);
  font-size: var(--fsize-sm);
}

.listItem:first-child {
  margin-left: 0;
}

.listItem:last-child {
  margin-right: 0;
}

.link,
.link:visited {
  font-size: var(--fsize-sm);
  color: var(--color-black);
}

.link:hover,
.link:focus {
  color: var(--color-black-light);
}

.githubLink {
  display: none;
}

.icon {
  /* gets rid of extra whitespace below the svg */
  display: block; 

  margin: auto;
  color: var(--color-black);
  transition: color var(--trans-basic);
}

.icon:hover,
.icon:focus {
  color: var(--color-black-light);
}

.copyright {
  justify-self: end;
  font-size: var(--fsize-sm);
  color: var(--color-black);
}


@media only screen and (max-width: 480px) {
  .outer {
    padding: var(--space-lg) var(--space-md) 0;
  }

  .inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    gap: 0 var(--space-sm);
  }

  .navigation {
    grid-row: 1 / 3;
  }

  .list {
    flex-direction: column;
  }

  .listItem {
    margin: 0 0 var(--space-sm) 0;
  }

  .icon {
    display: none;
  }

  .githubLink {
    display: block;
  }

  .copyright {
    justify-self: start;
  }
}