.outer {
  margin-bottom: var(--space-md);
  padding: 0 var(--space-md);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width-site);
  margin: auto;
  padding: var(--space-lg) 0 0;
}

.navigation {
  display: block;
}

.list {
  display: flex;
  align-items: center;
}

.listItem {
  margin: 0 var(--space-sm-md);
}

.listItem:first-child {
  margin-left: 0;
}

.listItem:last-child {
  margin-right: 0;
}

.link,
.link:visited {
  font-size: var(--fsize-sm);
  color: var(--color-black);
}

.link:hover,
.link:focus {
  color: var(--color-gray);
}

.githubIcon {
  /* gets rid of extra whitespace below the svg */
  display: block; 

  color: var(--color-black);
  transition: color var(--trans-basic);
}

.githubIcon:hover,
.githubIcon:focus {
  color: var(--color-gray);
}

.githubLink {
  display: none;
}

.menuIcon {
  display: none;
}

.menuIcon::before,
.menuIcon::after {
  content: '';
  display: block;
  height: 1px;
  width: 22px;
  background-color: var(--color-black);
  transition: transform var(--trans-basic);
}

/* mobile menu open */
.outer.open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--layer-overlay);
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
}

.open .inner {
  position: relative;
  display: block;
}

.open.outer .navigation {
  margin-top: var(--space-md);
}

.open .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--space-md-lg);
}

.open .listItem {
  margin: 0 0 var(--space-md) 0;
}

.open .link {
  font-size: var(--fsize-md);
}

.open .githubIcon {
  display: none;
}

.open .githubLink {
  display: block;
}

.open .menuIcon {
  position: absolute;
  top: 80px;
  right: 0;
}

.open .menuIcon::before {
  transform: translateY(0) rotate(45deg);
}

.open .menuIcon::after {
  transform: translateY(-1px) rotate(-45deg);
}

/* mobile menu closed (default) */
.closed .menuIcon::before {
  transform: translateY(-4px) rotate(0deg)
}

.closed .menuIcon::after {
  transform: translateY(4px) rotate(0deg)
}


@media only screen and (max-width: 480px) {
  .menuIcon {
    display: block;
  }

  /* mobile menu closed (default) */
  .closed .navigation {
    display: none;
  }
}