.container {
  padding: 0 var(--space-md);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--width-site);
  margin: auto;
  padding: var(--space-lg) 0 var(--space-md);
}

.navigation {
  display: block;
}

.list {
  display: flex;
}

.listItem {
  margin: 0 var(--space-sm-md);
}

.listItem:first-child {
  margin-left: 0;
}

.listItem:last-child {
  margin-right: 0;
}

.link,
.link:visited {
  font-size: var(--fsize-md);
  color: var(--color-text-heading);
}

.link:hover,
.link:focus {
  color: var(--color-text-body);
}

.githubIcon {
  /* gets rid of extra whitespace below the svg */
  display: block; 

  color: var(--color-text-heading);
  transition: color var(--trans-timing) var(--trans-ease);
}

.githubIcon:hover,
.githubIcon:focus {
  color: var(--color-text-body);
}

.menuIcon {
  display: none;
}

.menuIcon::before,
.menuIcon::after {
  content: '';
  display: block;
  height: 1px;
  width: 22px;
  background-color: var(--color-text-heading);
  transition: transform var(--trans-timing) var(--trans-ease);
}

.menuIcon.open::before {
  transform: translateY(0) rotate(45deg);
}

.menuIcon.open::after {
  transform: translateY(-1px) rotate(-45deg);
}

.menuIcon.closed::before {
  transform: translateY(-4px) rotate(0deg)
}

.menuIcon.closed::after {
  transform: translateY(4px) rotate(0deg)
}


@media only screen and (max-width: 480px) {
  .navigation {
    display: none;
  }

  .menuIcon {
    display: block;
  }
}