.outer {
  display: flex;
  justify-content: center;
  align-items: center;

  /* set height of container to the height of the highest possible child element to prevent reflow */
  height: var(--height-button);
}

.button {
  height: var(--height-button);
  padding: 0 var(--space-sm);
  color: var(--color-white);
  border: 2px solid;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--trans-basic);
}

.button:hover,
.button:focus {
  background-color: var(--color-white);
}

.error {
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.error:hover,
.error:focus {
  color: var(--color-red);
}

.load {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.load:hover,
.load:focus {
  color: var(--color-blue);
}