.outer {
  margin: var(--space-md);
}

.inner {
  display: flex;
  align-items: center;
  max-width: var(--width-search);
  margin: auto;
}

.searchBar {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height-button);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  transition: border-color var(--trans-basic);
}

.searchBar:focus-within {
  border-color: var(--color-black);
}

.searchBar:focus-within .icon {
  color: var(--color-black);
}

.searchBar:focus-within .reset {
  display: block;
}

.label {
  display: grid;
  align-items: center;
  padding: var(--space-xsm);
  color: inherit;
}

.icon {
  color: var(--color-gray);
  transition: color var(--trans-basic);
}

.input {
  width: 100%;
  padding: var(--space-xsm) 0;
  border: none;
}

.input::placeholder {
  color: var(--color-gray);
}

.input:focus {
  outline: none;
}

.reset {
  display: none;
  width: var(--space-md-lg);
  height: var(--height-button);
  padding: var(--space-xsm);
  cursor: pointer;
}

.reset:hover::before,
.reset:hover::after,
.reset:focus::before,
.reset:focus::after {
  background-color: var(--color-black);
}

.reset::before,
.reset::after {
  content: '';
  display: block;
  height: 1px;
  width: 17px;
  background-color: var(--color-gray);
  transition: all var(--trans-basic);
}

.reset::before {
  transform: translateY(1px) rotate(45deg);
}

.reset::after {
  transform: translateY(0) rotate(-45deg);
}


@media only screen and (max-width: 480px) {
  .outer {
    margin: 0 var(--space-md) var(--space-sm);
  }
}
