.input {
  width: calc(2 * var(--size-card) + 2 * var(--space-sm));
  margin-bottom: var(--space-md);
  padding: 1rem 1.5rem;
  background-color: var(--color-background);
  border: 1px solid var(--color-background);
}

.input:focus {
  border-color: black;
  outline: none;
}