html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  /* reset default font-size to 10px for easier calculations (62.5% of 16px [browser default] = 10px) */
  font-size: 62.5%;
}

body {
  /* set default font-size to 1.6rem to negate above reset */
  font-size: 1.6rem;
}

#__next {
  /* make sure the footer is always at the bottom of the page even when the page content isn't 100vh high */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fweight-bold);
}

p,
a {
  font-weight: var(--fweight-normal);
}