:root {
  /* colors */
  /* '-light' colors are 60% opacity of their base color */
  --color-white: #FFFFFF;
  --color-blue: #0076ff;
  --color-blue-light: #66ADFF;
  --color-red: #EE0000;
  --color-black: #111111;
  --color-gray: #666666;
  /* rgb values of pokemon type colors (rgb because it can also be used as rgba) */
  --color-type-normal: 170, 170, 155;
  --color-type-fire: 236, 84, 53;
  --color-type-fighting: 174, 91, 74;
  --color-type-water: 80, 153, 247;
  --color-type-flying: 138, 155, 248;
  --color-type-grass: 139, 201, 101;
  --color-type-poison: 159, 91, 150;
  --color-type-electric: 248, 205, 85;
  --color-type-ground: 216, 187, 101;
  --color-type-psychic: 236, 99, 152;
  --color-type-rock: 184, 170, 111;
  --color-type-ice: 127, 203, 250;
  --color-type-bug: 173, 186, 68;
  --color-type-dragon: 115, 106, 230;
  --color-type-ghost: 101, 103, 181;
  --color-type-dark: 114, 86, 71;
  --color-type-steel: 170, 170, 186;
  --color-type-fairy: 226, 158, 233;

  /* spaces (margins & paddings) */
  --space-lg: 5rem;
  --space-md-lg: 4rem;
  --space-md: 3rem;
  --space-sm-md: 2rem;
  --space-sm: 1.5rem;
  --space-xsm: 1rem;

  /* sizes (widths & heights) */
  --width-site: 120rem;
  --size-card: 21.6rem;
  --height-button: 4rem;

  /* font families */
  --ffamily-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  /* font sizes */
  --fsize-xl: 10rem;
  --fsize-lg: 4rem;
  --fsize-md-lg: 2.5rem;
  --fsize-md: 1.6rem;
  --fsize-sm: 1.4rem;
  --fsize-xsm: 1.2rem;

  /* font weights */
  --fweight-bold: 800;
  --fweight-normal: 400;
  --fweight-light: 300;

  /* stacking layers (z-index) */
  --layer-overlay: 10;

  /* borders */
  --border-radius: 5px;

  /* transitions */
  --trans-basic: 200ms ease;
  --trans-fast: 200ms cubic-bezier(.15, 1.05, 0, .88);
}