:root {
  /* colors */
  /* '-light' colors are 60% opacity of their base color */
  --color-white: #FFFFFF;
  --color-blue: #0076ff;
  --color-blue-light: #66ADFF;
  --color-red: #FF0000;
  --color-black: #111111;
  --color-black-light: #666666;

  /* spaces (margins & paddings) */
  --space-lg: 5rem;
  --space-md-lg: 4rem;
  --space-md: 3rem;
  --space-sm-md: 2rem;
  --space-sm: 1.5rem;
  --space-xsm: 1rem;

  /* sizes (widths & heights) */
  --width-site: 120rem;
  --size-card: 21.6rem;
  --height-button: 4rem;

  /* font sizes */
  --fsize-lg: 4rem;
  --fsize-md-lg: 2.5rem;
  --fsize-md: 1.6rem;
  --fsize-sm: 1.4rem;
  --fsize-xsm: 1.2rem;

  /* font weights */
  --fweight-bold: 800;
  --fweight-normal: 400;
  --fweight-light: 300;

  /* stacking layers (z-index) */
  --layer-overlay: 10;

  /* borders */
  --border-radius: 5px;

  /* transitions */
  --trans-basic: 200ms ease;
}