/* colors */
:root {
  /* '-light' colors are 60% opacity of their base color */
  --color-white: #FFFFFF;
  --color-blue: #0076ff;
  --color-blue-light: #66ADFF;
  --color-red: #EE0000;
  --color-black: #111111;
  --color-gray: #666666;
  /* rgb values of pokemon type colors (rgb because they're also used for rgba in ../types.css) */
  --color-type-normal: 170, 170, 155;
  --color-type-fire: 236, 84, 53;
  --color-type-fighting: 174, 91, 74;
  --color-type-water: 80, 153, 247;
  --color-type-flying: 138, 155, 248;
  --color-type-grass: 139, 201, 101;
  --color-type-poison: 159, 91, 150;
  --color-type-electric: 248, 205, 85;
  --color-type-ground: 216, 187, 101;
  --color-type-psychic: 236, 99, 152;
  --color-type-rock: 184, 170, 111;
  --color-type-ice: 127, 203, 250;
  --color-type-bug: 173, 186, 68;
  --color-type-dragon: 115, 106, 230;
  --color-type-ghost: 101, 103, 181;
  --color-type-dark: 114, 86, 71;
  --color-type-steel: 170, 170, 186;
  --color-type-fairy: 226, 158, 233;
}
