.outer {
  padding: 0 var(--space-md);
}

.inner {
  max-width: var(--width-site);
  margin: auto;
}

.title {
  margin: 0 0 var(--space-md);
  font-size: var(--fsize-lg-xl);
}

.heading {
  margin-bottom: var(--space-xsm-sm);
  font-size: var(--fsize-md-lg);
  font-weight: var(--fweight-semi-bold);
}

.text {
  font-size: var(--fsize-md);
}

.text {
  margin-bottom: var(--space-md-lg);
}

.link,
.link:visited {
  font-size: var(--fsize-md);
  color: var(--color-blue);
}

.link:hover,
.link:focus {
  color: var(--color-blue-light);
}


@media only screen and (min-width: 768px) {
  .title {
    margin: var(--space-md) 0 var(--space-md-lg);
  }
}
